.nav-pills > li > a.active {
  background-color: #e1e2e3 !important;
  color: #ffffff !important;
}

.nav-pills > li > a:hover {
  color: white !important;
}

.nav-link-color {
  color: #ffffff;
}
@media screen and (max-width: 540px) {
  .headerlogo{
    display: none;
  }


}
