<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/2038/2038792.png" alt="" width="72" height="72">
  <h1 class="display-5 fw-bold">Grazie per l'ordine </h1>
  <p>ti arriverà un sms al numero indicato con le informazioni per la consegna</p>
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-secondary btn-lg px-4" (click)="onTornaAHome()">Torna alla home</button>
    </div>
  </div>
</div>

