<div class=" container input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" alt="" width="15" height="15"></span>
  <input type="text" class="form-control" placeholder="Cerca Prodotti" aria-label="Username" aria-describedby="addon-wrapping"
  [(ngModel)]="ricerca">

</div>
<br><br>

<div class="card-group justify-content-center bg-light phone">
<div *ngFor="let prod of prodotti | filtraArray:ricerca:'categoria'" class="card-group justify-content-center">
 <div style="animation: fadeIn; animation-duration: 1s; " class="card design carddesign">
  <button class="btn" style="padding:none; margin:none; border: none;"><img [routerLink]="['/prodotti', prod.slug]" src="{{prod.foto}}" class="card-img-top" alt="..." width="250">
  </button>
    <div class="card-body">
      <p [routerLink]="['/prodotti', prod.slug]" class="text-center" ><strong>{{prod.nome}} </strong><br> {{prod.marca}}</p>
      <p class="card-text text-center" style="font-size: 1.2rem;" > <strong>€{{prod.prezzo}}</strong></p>
    </div>
</div>
</div>
</div>
