<div class=" container input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" alt="" width="15" height="15"></span>
  <input type="text" class="form-control" placeholder="Cerca x categoria (proteine, creatina)" aria-label="Username" aria-describedby="addon-wrapping"
  [(ngModel)]="ricerca">

</div>
<br>
<h5 class="container">{{ricerca | lowercase}} </h5>
<br><br>

<div class="card-group justify-content-center bg-light ">
<div *ngFor="let prod of prodotti | filtraArray:ricerca:'categoria'" class="card-group justify-content-center">
<div class="card" style="width: 18rem; margin: 15px;">
  <button class="btn" style="padding:none; margin:none; border: none;"><img [routerLink]="['/prodotti', prod.slug]" src="{{prod.foto}}" class="card-img-top" alt="..." width="250">
  </button>
    <div class="card-body">
    <p [routerLink]="['/prodotti', prod.slug]" class="text-center" ><strong>{{prod.nome}}</strong></p>
    <p class="text-start">prodotto della {{prod.marca}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <p class="card-text"> <strong>€{{prod.prezzo}}</strong></p>
      </div>
      <button *ngIf="prod.selezionato==false" (click)="AggiungiACarrello(prod)" style="border: 1px solid black" class="text-black btn btn-light">Acquista</button>
      <button *ngIf="prod.selezionato==true" (click)="RimuovidaCarrello(prod)" style="border: 1px solid black" class="text-white btn btn-secondary">Rimuovi</button>

    </div>
  </div>
</div>
</div>
</div>
<!-- <p>{{totale | number : '1.2-2'}}</p> -->
